
//************** Calendar colors ***************//

//dates colors
$previous-month-dates-text-color: rgb(200, 200, 200); //these
$next-month-dates-text-color: rgb(200, 200, 200); //these are the same
$current-month-dates-text-color: rgb(208, 208, 208);
$all-dates-background-color: rgb(255,255,255);
$current-date-circle-wrapper-background-color: rgb(227, 242, 249);
$available-hours-background-color: rgb(255, 255, 255);
//month names
$calendar-month-name-and-year-text-color: rgb(53, 60, 64);
$background-color-of-month-name-and-year: rgb(229, 231, 233);
//week day names
$week-day-names-text-color: rgb(141, 168, 207);
$week-day-names-wrapper-background-color: rgb(241, 243, 244);
//selected dates
$selected-date-text-color: rgb(255,255,255);
$selected-date-wrappers-background-color: rgb(221, 221, 221); // color ili background-color ?

//back to current month TODO : tozi buton trqbva da se poqvqva samo kogato ne sme na current month
$back-to-current-month-link-text-color: rgb(135, 150, 148);
$back-to-current-month-link-text-color-hovered: rgb(80, 86, 90);
//available hours and slots dropdown div
$available-hours-header-text-color: rgb(85, 90, 95);
$available-hours-digits-color: rgb(90, 85, 85);
$day-and-available-hours-border-padding-color: rgb(221, 221, 221);
$open-slots-text-color: rgb(174, 174, 172);
//book button
$book-apointment-button-text-color: rgb(247, 251, 253);
$book-apointment-button-background-color: rgb(15, 148, 199);

//************** Calendar MAX innitial dimensions ***************//

//wrappers
$calendar-wrapper-max-width: 798px;
$calendar-wrapper-max-height: 575px;
//month and year name wrapper
$calendar-header-wrapper-height: 65px;
//days
$week-day-names-wrapper-height: 40px;
//dates
$date-box-width: 114px;
$date-box-height: 94px;

//texts-heights
$back-to-current-month-text-height: 7px;
$current-year-height: 15px;
$current-month-name-height: 14px;
$week-days-names-height: 14px;
$date-digits-height: 15px;
$available-hours-header-text-heigh: 13px;
$available-hour-digits-height: 12px; //bold also
$available-hour-am-pm-height: 8px;
$open-slots-text-height: 10px;

//when date is selected
$selected-date-circle-radius: 20px;
$each-available-hours-wrapper-height: 75px;
$available-hours-wrapper-padding: 16px;
$book-hour-box-width: 133px;
$book-hour-box-height: 35px;

//border
$calendar-border-width: 1px;


$line-height-for-vertical-align: 5.7em; // when working with div's for vertical align


//************** Calendar on different resolutions dimensions ***************// TODO!!!!

//**** Screen WIDTH : 991 ****//

//**** Screen WIDTH : 767 ****//

//**** Screen WIDTH : 479 ****//




//shrift open sans
// buton zapazi sreshta -> 1 ili 2 px border radius
// strelkite za risuvane sa s razmeri 14 x 27px



.agenda-calendar-special {

    ul, div, li, button, a, h1, h2, h3 {
        margin: 0;
        padding: 0;
        padding: 0;
    }

    .agenda-calendar-wrapper {
        display: block;
        margin: 0 auto;
        font-family: 'open-sans', Arial, sans-serif;
        width: $calendar-wrapper-max-width;
        height: $calendar-wrapper-max-height;


        #render-previous-calendar-month-button {
            float: left;
            position: relative;
            left: 60px;
            top: 10px;
        }

        #render-next-calendar-month-button {
            float: right;
            position: relative;
            left: -80px;
            top: 10px;
        }


        #current-calendar-month-name {
            display: block;
            height: $calendar-header-wrapper-height;
            color: $calendar-month-name-and-year-text-color;
            font-size: $current-month-name-height;
            background-color: $background-color-of-month-name-and-year;
            text-align: center;
        }

        #calendar-week-day-names-list {
            display: block;
            line-height: 40px;
            background-color: $week-day-names-wrapper-background-color;
            height: $week-day-names-wrapper-height;

            .week-day-names {
                display: inline-block;
                text-align: center;
                font-size: $week-days-names-height;
                color: $week-day-names-text-color;
                width: $date-box-width;
            }
        }

        #calendar-date-container {
            line-height: $line-height-for-vertical-align;

            .from-previous-month {
                color: $previous-month-dates-text-color;
            }

            .from-next-month {
                color: $next-month-dates-text-color;
            }

            .agenda-calendar-day-value {
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                vertical-align: middle;
                background-color: $all-dates-background-color;
                width: $date-box-width;
                height: $date-box-height;
                font-size: $date-digits-height;
                border-top: $calendar-border-width solid $selected-date-wrappers-background-color;
            }

            .agenda-calendar-day-value.day-today {
                background-color: $current-date-circle-wrapper-background-color;
            }

            .agenda-calendar-day-value.selected-date-item {
                color: $selected-date-text-color;
            }

            .agenda-calendar-day-value.previously-selected-item {
                background-color: rosybrown;
            }

            .display-inline-block-element {
                display: inline-block;
            }

            .agenda-calendar-day-value:hover {
                background-color: yellow;
            }

            .agenda-calendar-day-value.selected-date {
                background-color: orangered;
            }

            .agenda-calendar-day-value {
                background-color: white;
            }
            //when selected date
            .daily-free-hours-display-wrapper {
                display: block;

                .daily-free-hours-display-list {
                    //text-align: center;
                    background-color: $day-and-available-hours-border-padding-color;
                    padding: $available-hours-wrapper-padding;

                    .user-current-day-free-time {
                        margin: 0 auto;
                        background-color: $available-hours-background-color;
                        height: $each-available-hours-wrapper-height;
                        font-size: $available-hour-digits-height;
                        color: $available-hours-digits-color;
                        border-top: $calendar-border-width solid $selected-date-wrappers-background-color;
                        position:relative;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
